section.header {
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-border-soft);
}

section.header .title {
  font-size: 2.5em;
  color: var(--color-text-primary);
  margin-bottom: 0.5rem;
}

section.header .info,
section.header .stats {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

section.header .info span,
section.header .stats span {
  display: inline-block;
  color: var(--color-text-secondary);
  font-size: 0.9em;
}

section.header .stats span {
  background-color: var(--color-surface-secondary);
  padding: 5px 10px;
  border-radius: 4px;
}

section.body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}
